.c-container {
     
}

.custom-box {
   
}
 .slds-table {
    width: 100%;
  }
  
  .appointment-label {
    margin-left: 25px;
    font-size: 13px;
    display: inline-block;
    width: 150px;
  }
   .popup-container {
   position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(-173, 68, 82, 173.8);
    padding: 24px;
    padding-right: 103px;
    border-radius: 5px;
    box-shadow: 0 0 41px rgba(124, 188, 150, 382.3);
    z-index: 9999;
}

  .popup-content {
   max-width: 316px;
    color: #ffffff;
    margin-left: 73px;
  }
  .slds-button_custom {
  background-color: #ff0000; /* Replace with your desired color */
  color: #ffffff; /* Replace with your desired text color */
}

.custom-color {
  background-color: #ff0000; /* Replace with your desired color */
  color: #ffffff; /* Replace with your desired text color */
}
.custom-color2{
   background-color: #67fb49; /* Replace with your desired color */
  color: #ffffff; /* Replace with your desired text color */
}